/**
 * SPDX-FileCopyrightText: 2021 Jens Lechtenbörger
 * SPDX-License-Identifier: GPL-3.0-or-later
 **/

.reveal div, ul, li {
    text-align: left;
}

.reveal p, img {
    text-align: center;
}

.reveal div.csl-bib-body {
    overflow: auto;
    padding-right: 5px;
    max-height: 18em;
}
